:root{
    --button-color: #fb246a;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 40px;
    background-color: var(--button-color); 
    margin-right: 50;
    cursor: pointer;
    left: 30;
}

#slide {
    position: absolute;
    left: -150px;
    width: 150px;
    height: 50px;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 0.6s;
    left: 0;
}
#text-register{
    position: absolute;
    padding-left: 30;
    padding-top: 5;
    color: white;   
}

.search-button{
    width: 120;
    height: 40;
    cursor: pointer;
}

.wrapper2{
    position: relative;
    overflow: hidden;
    width: 120;
    height: 40;
    border-style: solid;
    border-width: 1;
}

#slide2{
    position: absolute;
    left: -150px;
    width: 150px;
    height: 50px;
    background: blue;
    transition: 1s;
}

.wrapper2:hover #slide2{
    transition: 0.6s;
    left: 0;
}

#text-search{
    position: absolute;
    padding-left: 32;
    padding-top: 5;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

/* upload your cv (masih error) */

.resume{
    background-image: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/woman.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.resume h1{
    font-size: 3.8rem;
}

/* footer */

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}






